:root{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: white;
}
header{
  display: flex;
  margin: 0;
  background-color:  darkslateblue;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
header > *{
  padding: 0.2rem;
  margin: 0;
  color:azure;
}
.container{
  display: grid;
  height:70vh;
  width:100%;
  border: 0.002px #272222 solid;
}

h1{
  color: skyblue;
  font-weight: 900;
  font-style: oblique;
  font-size: 2.5rem;
  text-shadow: 0.3px 0.2px 0.2px yellow;
}
.controls{
  background-color: rgb(60, 52, 68);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 99vw;
  height: 8vh;
  gap: 1em;
}
button{
  background-color:rgb(61, 190, 207);
  color:white;
  font-weight: 700;
  text-shadow: 1px 1px 0.1px yellowgreen;
  width: 7em;
  overflow: hidden;
  height: 5em;
  border-radius: 10%;
  padding: 0.5rem;
}
#mode{
  color: lawngreen;
}
input[type="text"]{
  width: 200px;
  height: 30px;
}
.set-size > *{
 gap:2em;
  margin-left: 1.2em;
}
.options > *{
  margin-left: 20px;
}
.container> div{
  height: auto;
  width: auto;
}